#quote{
    font-family: cursive;
    width: 60%;
    padding: 10% 10% 10% 10%;
    
}
#image{
    
    float:right;    
}
.form{
    font-size: 16px;
}
form{

    padding-left: 20%;
}
#attribution{
    font-family: fantasy;
}